@{
    ViewBag.Title = "Newsletter - Thank You!";
}

<section class="section">
    <h2 class="title is-3">@ViewBag.Title</h2>

    <p>You've signed up for our newsletter. Thanks so much! Hope you enjoy it.</p>

    <div class="link-list">
        <a class="button is-info" href="/">Go Home</a>
        @*<a class="button is-primary" href="/Account/SignUp">Sign Up</a>
            <a class="button is-light" href="/Account/SignIn">Sign In</a>*@
    </div>
</section>
