
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p>Ouch. Unfortunatley something didn't go right. Please try your request again in a little bit.</p>
<p>If this continues to happen please reach out to <a href="mailto:support@easyhire.cc">support@easyhire.cc</a> and we can help get this resolved.</p>
<p>Thanks,</p>
<p>-Easy Hire, LLC Team</p>

